.main-div{
  height: 100vh;
  width: 100%;
  background-color: aqua;
}
button{
  background-color: blue;
}
p,label{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
input{
  outline: none;
}
input[type=checkbox]{
  height: 18px;
  width: 18px;
}