.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  height: 50px;
  width: 100px;
  border-radius: 40px;
}
.btn-box{
  width: 50%;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  border-radius: 40px;
}